### Условие 1: Задача 1
Скачать данные kc_house_data.<br>
Считать данные с помощью pandas.<br>
Вывести на экран первые 5 строк.<br>

In [13]:
# Импортируем pandas

import pandas as pd

In [14]:
# Считываем данные и выводим первые пять строк

houses = pd.read_csv('./kc_house_data.csv')
houses.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома.
Если реновации дома не было, то в новом признаке поставьте 0.

*Возможно есть более изящное решение, но, чтобы не запутаться, сделаю так, как мне представляется понятным.*

In [15]:
# Создадим пустой массив diff=[], и в него будем записывать результаты для нового признака delta_renovated со следующим условием

diff=[]
for i, row in houses.iterrows():
  if row['yr_renovated']-row['yr_built']>0:
    diff.append(row['yr_renovated']-row['yr_built'])
  else:
    diff.append(0)

# Теперь добавим полученный массив в DataFrame и выведем результат для проверки

houses['delta_renovated']=diff
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,0

1.3 Создайте признаки года продажи, месяца продажи.

*Поскольку данные о продажах неизвестны, то столбцы с годом и месяцем продажи заполним нулями.*

In [16]:
# Для года продажи возьмем обозначение yr_sold, а для месяца month_sold

houses[['yr_sold','month_sold']]=0
houses

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,yr_sold,month_sold
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1955,0,98178,47.5112,-122.257,1340,5650,0,0,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1951,1991,98125,47.7210,-122.319,1690,7639,40,0,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,1933,0,98028,47.7379,-122.233,2720,8062,0,0,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1965,0,98136,47.5208,-122.393,1360,5000,0,0,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1987,0,98074,47.6168,-122.045,1800,7503,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,2009,0,98103,47.6993,-122.346,1530,1509,0,0,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,2014,0,98146,47.5107,-122.362,1830,7200,0,0,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,2009,0,98144,47.5944,-122.299,1020,2007,0,0,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,2004,0,98027,47.5345,-122.069,1410,1287,0,0,0
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,2008,0,98144,47.5941,-122.299,1020,1357,0,0,0

1.4 Удалите признаки date, zipcode, lat, long.

In [17]:
houses.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
houses.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,month_sold
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,0,0
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,0,0
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,0,0
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,0,0
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,0,0

### Условие 2: Задача 2
Создайте датафрейм с клиентами:<br>
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [18]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})
clients.head()

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330
3       3942  2131701075
4       4535  1522700060

2.1 Присоедините к таблице clients данные по домам через метод join

In [22]:
clients_id=clients.set_index('house_id')
clients_id.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

In [20]:
houses_id=houses.set_index('id')
houses_id.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,month_sold
id,,,,,,,,,,,,,,,,,,,
7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650,0,0,0
6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639,40,0,0
5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062,0,0,0
2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000,0,0,0
1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503,0,0,0

In [23]:
clients_id.join(houses_id).head()

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,month_sold
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,0,0
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,0,0
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,0,0
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,0,0
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,0,0

2.2 Присоедините к таблице clients данные по домам через метод merge.

In [27]:
merged = clients.merge(houses, left_on='house_id', right_on='id')
merged.head()

,client_id,house_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,yr_sold,month_sold
0,1459,8965450190,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,0,0
1,4684,6823100225,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,0,0
2,3498,5104540330,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,0,0
3,3942,2131701075,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,0,0
4,4535,1522700060,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,0,0

### Условие 3: Задача 3
Составьте несколько сводных таблиц

3.1 Найдите среднюю стоимость домов в зависимости от количества спален.
Отсортируйте от меньшей стоимости к большей.

In [43]:
houses.groupby('bedrooms').agg({'price':'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома.

In [30]:
houses.groupby('condition').agg({'price':['mean', 'min', 'max']})

                   price
                    mean       min        max
condition
1          334431.666667   78000.0  1500000.0
2          327287.145349   80000.0  2555000.0
3          542012.578148   75000.0  7062500.0
4          521200.390033   89000.0  7700000.0
5          612418.089359  110000.0  3650000.0

3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида.

In [31]:
pd.crosstab(index=houses['waterfront'],columns=houses['view'])

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

3.4 Каких домов в зависимости от этажности и количества спален больше?

In [32]:
# Составим таблицу со спальнями и этажами, в которой указано количество домов по каждому из параметров
# Из таблицы можно определить, что больше всего одноэтажных домов с 3-мя спальнями

pd.crosstab(index=houses['floors'],columns=houses['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома.

In [57]:
pd.crosstab(index=houses['condition'], columns=houses['grade'], aggfunc='median', values=houses['price'])

grade,1,3,4,5,6,7,8,9,10,11,12,13
condition,,,,,,,,,,,,
1,142000.0,NaN,150000.0,190000.0,255000.0,403500.0,932500.0,NaN,NaN,NaN,NaN,NaN
2,NaN,280000.0,145000.0,180000.0,235000.0,305000.0,429000.0,715000.0,1752500.0,NaN,NaN,NaN
3,NaN,75000.0,205000.0,234475.0,265000.0,357500.0,485000.0,689000.0,890000.0,1209500.0,1807500.0,2888000.0
4,NaN,NaN,238525.0,229975.0,295000.0,390000.0,571250.0,823500.0,1030000.0,1685000.0,2125000.0,5750000.0
5,NaN,262000.0,NaN,227450.0,285475.0,456000.0,696000.0,1078000.0,1650000.0,2050000.0,1990000.0,NaN